@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/font/inter/inter-variable.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/font/inter/inter-variable-italic.woff2") format("woff2");
}

@font-face {
    font-family: 'Basement Grotesque';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/font/basement-grotesque/basement-grotesque-black.woff2") format("woff2");
}

:root {
    font-family: "Inter", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root { 
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto; 
    }
}