@use "./font";

* {
    box-sizing: border-box;
}

:root {
    --font-heading: 900 80pt 'Basement Grotesque';
    --font-subheading: 500 12pt 'Inter';
    --font-body: 400 14pt 'Inter';
    --text-color: #FFF;
    --link-color: #fff;
    --background-color: #031526;
    --background-alt-color: #000;
    --text-alt-color: #fff;
    --accent-color: #B01A09;
    
    font: var(--font-body);

    a {
        cursor: pointer;
        text-decoration: none;
    }

    h1 {
        font: var(--font-heading);
    }
}

body {
    height: 100vh;
    margin: 0px;
    // display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    background-color: var(--background-color);
}