header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: var(--background-color);   
}

.header-logo-container {
    width: 160px;
    height: 40px;
    // background-color: var(--accent-color);
}

.header-logo-container svg#logo {
    color: var(--text-color);
    position: absolute;
    height: 40px;
}

// .header-logo-container svg#logo .logo-hidden-letter {
// 	visibility: hidden;
// }

nav {
    display: flex;
    height: 40px;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

nav > a {
    color: var(--text-color);
    font: var(--font-subheading);
    margin-left: 40px;
    // margin: 10px 32px 0 0; // probably edit this to be dynamic with page width
}

@media (max-width: 546px) {
    nav > a {
        display: none;
    }
}