header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: var(--background-color);   
}

.header-logo-container {
    width: 160px;
    height: 40px;
    // background-color: var(--accent-color);
}

.header-logo-container svg#logo {
    color: var(--text-color);
    position: absolute;
    height: 40px;
}

// .header-logo-container svg#logo .logo-hidden-letter {
// 	visibility: hidden;
// }

nav {
    display: flex;
    height: 40px;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

nav > a {
    color: var(--text-color);
    font: var(--font-nav);
    margin-left: 40px;
    // margin: 10px 32px 0 0; // probably edit this to be dynamic with page width
}

header .menu-icon {
    display: none;
    height: 40px;
    width: 40px;
    color: var(--text-color);
    padding: 10px 0;
}

// none of this fucking works

header .menu-icon span {
    display: block;
    position: relative;
    height: 4px;
    width: 40px;
    background-color: var(--text-color);
    margin-bottom: 4px;
}

header .menu-icon span:nth-child(1) {
    transform-origin: 20px; // size of container
}

header .menu-icon span:nth-child(2) {
    right: 0;
}

header .menu-icon span:nth-child(3) {
    transform-origin: 20px;
    margin-bottom: 0;
}

header .menu-icon.opened span:nth-child(1) {
    top: 4px;
    right: -4px;
    transform: rotate(-45deg);
}

header .menu-icon.opened span:nth-child(2) {
    // top: -4px;
    // right: 2px;
    width: 45px;
    transform: rotate(45deg)
}

header .menu-icon.opened span:nth-child(3) {
    top: -8px;
    transform: rotate(-45deg);
}


.menu-dropdown {
    display: none;
    flex-direction: column;
    z-index: 10;
    gap: 2vh;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

.menu-dropdown span {
    padding: 4px;
    width: fit-content;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, var(--accent-color) 50%, transparent 50%);
    background-position: 100% 0;
}

.menu-dropdown a {
    color: var(--text-color);
    font: 900 10vw "Basement Grotesque";
}

.menu-dropdown span:hover{
    background-position: 0 0;
    transition: background-position 0.8s cubic-bezier(0.23,1,0.32,1);
}

// @media (max-width: 700px)
@media (max-width: 900px) {
    nav > a {
        display: none;
    }

    header .menu-icon {
        display: inline;
    }

    .menu-dropdown {
        // display: flex;
    }
}
