@use "./var";
@use "./logo.css";


header {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    background-color: #000;   
}

.header-logo-container {
    width: 73.4px;
    height: 66px;
    padding: 8px;
    background-color: var(--accent-color);
}

.header-logo-container > a > svg {
    position: absolute;
    height: 50px;
}

nav {
    display: flex;
    padding: 8px 24px;
    height: 100%;
    flex-grow: 1;
    
}

nav > a {
    color: #fff;
    font: var(--font-subheading);
    font-size: 18px;
    margin: 10px 32px 0 0; // probably edit this to be dynamic with page width
}