svg#logo .logo-hidden-letter {
	visibility: hidden;
}

svg#logo:hover .logo-hidden-letter {
	visibility: visible;
}

svg#logo:hover #l {
	transform: translateX(118.538px);
	transition: transform 0.7s cubic-bezier(0.23,1,0.32,1);
}

svg#logo:hover #e {
  transform: translateX(89.18425px);
	transition: transform 0.6s cubic-bezier(0.23,1,0.32,1);
}

svg#logo:hover #i2 {
  transform: translateX(76.753px);
	transition: transform 0.5s cubic-bezier(0.23,1,0.32,1);
}

svg#logo:hover #i {
  transform: translateX(64.32175px);
	transition: transform 0.3s cubic-bezier(0.23,1,0.32,1);
}

svg#logo:hover #r {
  transform: translateX(32.4015px);
	transition: transform 0.2s cubic-bezier(0.23,1,0.32,1);
}

svg#logo:hover #y {
/*   transform: translateX(32.8025px);
	transition: transform 0.2s cubic-bezier(0.23,1,0.32,1); */
}

svg#logo #corner-bottom-right {
	transform: translateX(0);
	transition: transform 0.4s cubic-bezier(0.23,1,0.32,1);
}

svg#logo:hover #corner-bottom-right {
  transform: translateX(142.601px);
	transition: transform 0.6s cubic-bezier(0.23,1,0.32,1);
}

svg#logo #corner-top-right {
	transform: translateX(0);
	transition: transform 0.4s cubic-bezier(0.23,1,0.32,1);
}

svg#logo:hover #corner-top-right {
  transform: translateX(142.601px);
	transition: transform 0.6s cubic-bezier(0.23,1,0.32,1);
}