@use "./var";

.hero-layout {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hero-art-column {
    overflow: hidden;
    height: 100vh;
    flex: 1;
}

.hero-art-column:hover {
    flex: 2;
}

.hero-art-column > img {
    height: 100%;
    object-fit: cover;
}