@use "./var";

.hero-layout {
    margin: 0;
    flex-grow: 1;
    display: flex;
}

.hero-strip-left {
    background-color: var(--accent-color);
    height: 100vh;
    width: 60px;
    display: block;
    z-index: 2;
    flex-shrink: 0;
}

.hero-main {
    display: flex;
    max-width: 100vw;
    flex-grow: 1;
    flex-direction: column;
}

.hero-carousel-container {
    height: 60vh;
    width: 100%;
    position: relative;
}

.hero-carousel-slide {
    width: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
    transition: transform .5s;
}

.hero-carousel-slide > img {
    max-height: 60vh;
    width: 100%;
    object-fit: cover;
}

.hero-carousel-slide:hover > img {
    // transform: scale(1.5);
    // is it really worth it?    
}

.hero-carousel-slide#carousel-slide-to-left {
    transform: translateX(-100%);
    // animation: 1s ease-in-out slide-to-left;
}

.hero-carousel-slide#carousel-slide-to-right {
    transform: translateX(100%);
    // animation: 1s ease-in-out slide-to-left;
}

@keyframes slide-to-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}

.riellebike > img {
    object-position: 0 35%;
}

.hero-carousel-shift-button {
    color: #000 !important;
    cursor: pointer;
    position: absolute;
    top: 30%;
}

#carousel-button-previous {
    left: 70px;
}

#carousel-button-next {
    right: 10px;
}

.hero-title {
    background-color: var(--background-alt-color);
    color: var(--text-alt-color);
    height: 40vh;
    padding: 24px;
}

.hero-title > img {
    object-fit: contain;
}