---
import Layout from "../layouts/layout.astro";
import "../styles/404.scss";
---

<Layout>
    <span class="fourzerofour">
        404
    </span>
    <p>This is not the page you're looking for.</p>
    
</Layout>