---
import Layout from "../layouts/layout.astro";
import "../styles/article.scss"
---

<Layout>
    <article>
        <h1>COMMISSIONS</h1>
        <p>
            your text here
        </p>
    </article>
</Layout>