---
import Layout from "../layouts/layout.astro";
import "../styles/article.scss"
---

<Layout>
    <article>
        <h1>COMMISSIONS</h1>
        <p>
            Steal raw zucchini off kitchen counter put butt in owner's face human give me attention meow pet me pet me don't pet me, do doodoo in the litter-box, clickityclack on the piano, be frumpygrumpy mess up all the toilet paper and mice. Prow?? ew dog you drink from the toilet, yum yum warm milk hotter pls, ouch too hot eat plants, meow, and throw up because i ate plants touch my tail, i shred your hand purrrr run up and down stairs attack the child yet kitty loves pigs so human is in bath tub, emergency! drowning! meooowww!. Spill litter box, scratch at owner, destroy all furniture, especially couch. Cat cat moo moo lick ears lick paws sleep over your phone and make cute snoring noises rub against owner because nose is wet. Eats owners hair then claws head plays league of legends, yowling nonstop the whole night spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Being gorgeous with belly side up meeeeouw if human is on laptop sit on the keyboard, eat grass, throw it back up for scream for no reason at 4 am yet play with twist ties. Open the door, let me out, let me out, let me-out, let me-aow, let meaow, meaow! check cat door for ambush 10 times before coming in cattt catt cattty cat being a cat. Hiss and stare at nothing then run suddenly away more napping, more napping all the napping is exhausting ears back wide eyed. Pretend you want to go out but then don't plan steps for world domination. Hunt anything ð•„ð”¼ð•†ð•Ž jump around on couch, meow constantly until given food, get away from me stupid dog. Eat grass, throw it back up scratch at fleas, meow until belly rubs, hide behind curtain when vacuum cleaner is on scratch strangers and poo on owners food or chew the plant. Unwrap toilet paper the cat was chasing the mouse. Somehow manage to catch a bird but have no idea what to do next, so play with it until it dies of shock.
        </p>
    </article>
</Layout>