---
import Layout from "../layouts/layout.astro";
import "../styles/article.scss";
---

<Layout>
    <article>
        <div class="contact-container">
            <p class="contact-text-big">@XYRIIEL</p>
            <p class="contact-text-big">HELLO@XYRIIEL.COM</p>
        </div>
    </article>
</Layout>