---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
---

<Layout>
	<div class="hero-layout">
		<div class="hero-art-column">
			<img id="sparkle" src="/img/hero/sparkle.jpg" />
		</div>
		<div class="hero-art-column">
			<img id="riellebike" src="/img/hero/riellebike.jpg" />
		</div>
		<div class="hero-art-column">
			<img id="yaemiko" src="/img/hero/yaemiko.jpg" />
		</div>
		<div class="hero-art-column">
			<img id="riellescooter" src="/img/hero/riellescooter.jpg" />
		</div>
	</div>
</Layout>

