---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
---

<Layout>
	<script src="../scripts/carousel.js"></script>

	<div class="hero-layout">
		<div class="hero-strip-left">
		</div>
		<div class="hero-main">
			<div class="hero-carousel-container">
				<div class="hero-carousel-slide">
					<img src="/img/carousel/placeholder.png" />
				</div>
				<div class="hero-carousel-slide">
					<img src="/img/carousel/riellebike.jpg" />
				</div>
			</div>

			<a class="hero-carousel-shift-button" id="carousel-button-previous">back</a>
			<a class="hero-carousel-shift-button" id="carousel-button-next">forward</a>


			<div class="hero-title">
				<img class="hero-title-logo" src="/img/icon/logo.svg"/>
			</div>
		</div>
	</div>
</Layout>

