---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
---

<Layout>
	<!-- <script src="../scripts/gallery.js"></script> -->

	<div class="hero-layout">
		<div class="hero-strip-left">
		</div>
		<div class="hero-main">
			<!-- <div class="hero-gallery-container">
				<div class="hero-gallery-element">
					<img src="/img/gallery/placeholder.png" />
				</div>
				<div class="hero-gallery-element">
					<img src="/img/gallery/riellebike.jpg" />
				</div>
			</div>

			<a class="hero-gallery-shift-button" onclick="shiftElement(-1)">back</a>
			<a class="hero-gallery-shift-button" onclick="shiftElement(1)">forward</a> -->


			<div class="hero-title">
				<img class="hero-title-logo" src="/img/icon/logo.svg"/>
			</div>
		</div>
	</div>
</Layout>

