---
import Layout from "../layouts/layout.astro";
import "../styles/main.scss";
---

<Layout>
	<div class="hero-layout">
		<div class="hero-art-column">
			<img src="/img/hero/riellebike.jpg" />
		</div>
		<div class="hero-art-column">
			<img src="/img/hero/riellebike.jpg" />
		</div>
		<div class="hero-art-column">
			<img src="/img/hero/riellebike.jpg" />
		</div>
		<div class="hero-art-column">
			<img src="/img/hero/riellebike.jpg" />
		</div>
	</div>
</Layout>

