---
import "../styles/header.scss";
---

<header>
    <div class="header-logo-container">
        <a href="/">
            <img src="/img/icon/logo-icon-square.svg" />
        </a>
    </div>
    <nav>
        <!-- Replace with ::after and Inkscape SVG -->
        <a href="/commissions">COMMISSIONS</a> 
        <a href="/portfolio">PORTFOLIO</a>
        <a href="/contact">CONTACT</a>
        <a href="/about">ABOUT</a>
    </nav>
</header>